@import '../../variables.scss';

.Charts {
  display: flex;
  align-items: flex-start;
  &__table {
    margin-bottom: 1rem;
  }
  &__graph {
    flex-grow: 1;
    margin-left: 1rem;
  }
  @include rwd(narrow) {
    display: block;

    &__graph {
      margin-left: 0;
    }
  }
}
